# To build this project, you need Microsoft C++ Build Tools.
# Download from: https://visualstudio.microsoft.com/visual-cpp-build-tools/

setuptools>=80.9.0
ipykernel==6.30.0
wheel==0.46.2
Matplotlib==3.10.3
numpy==2.0.2
pandas==2.3.1
seaborn==0.13.2
graphviz==25.2
